<!DOCTYPE html>
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Ajouter Produits</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/produit.css' %}">
    </head>
    <body>
  {% comment %}  <div class="page-header">
            <a href="{% url 'addProduit' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Produit</a></h1>
        </div>{% endcomment %}
        <div class="container" style="align-content: center">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>