{% load static %}
<script src="{% static 'script/produit.js' %}" type="text/javascript"></script>
<div class="container-fluid">
    <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erreur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Impossible de supprimer ce produit</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-white">
        <div class="card-header card-color">
            <p class="h2 text-center text-uppercase font-weight-bold pt-2">Gestion des produits</p>
        </div>
        <form> {% csrf_token %}
            <div class="card-body container-fluid">
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <label for="code">Reference : </label>
                        <input class="" type="text" id="id" hidden>
                        <input class="form-control" type="text" id="reference" required>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="nom">designation : </label>
                        <input class="form-control" type="text" id="designation" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <label for="prix">Prix : </label>
                        <input class="" type="text" id="id" hidden>
                        <input class="form-control" type="text" id="prix" required>

                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="date">quantite : </label>
                        <input class="form-control" type="number" id="quantite" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <label for="nom">fournisseur : </label>
                        <select class="form-control" id="fournisseur">
                            <option class="twichiya">Select fournisseur</option>
                        </select>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="nom">risk management : </label>
                        <input class="form-control" type="number" id="risk">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-outline-success mt-3 mb-3" id="btnrisk">Check</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-success mt-3 mb-3" id="btnref">Refresh</button>
                            </div>
                         </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-outline-success mt-3 mb-3" id="btn">Ajouter</button>
                    </div>
                </div>
                <div class="row table-responsive m-auto rounded">
                    <table id="tproduit" class="table table-hover w-100">
                        <thead>
                        <tr class="text-uppercase bg-light  w-100">
                            <th scope="col">Id</th>
                            <th scope="col">reference</th>
                            <th scope="col">designation</th>
                            <th scope="col">prixU</th>
                            <th scope="col">quantite</th>
                            <th scope="col">fournisseur</th>
                            <th scope="col">Supprimer</th>
                            <th scope="col">Modifier</th>
                        </tr>
                        </thead>
                        <tbody id="table-content">

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>