<head>
    <meta charset="UTF-8" >
</head>
<script src="script/statistiques.js" type="text/javascript"></script>
<div class="container-fluid" style="margin-top: 5%;">
    <div class="">
        <p class="h2 text-center text-dark text-uppercase font-weight-bold">Statistiques </p>
        <hr class="line-seprate">
        <section class="statistic statistic2">
            <div class="container">
                <div class="row">
                    <a href="./index.html?p=employe" class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--green">
                            <h2 class="number" id="nbr-salle">0</h2>
                            <span class="desc">Salle</span>
                            <div class="icon">
                                <i class="zmdi zmdi-accounts"></i>
                            </div>
                        </div>
                    </a>
                    <a href="./index.html?p=departement" class="col-md-6 col-lg-3">

                        <div class="statistic__item statistic__item--orange">
                            <h2 class="number">20</h2>
                            <span class="desc">départements</span>
                            <div class="icon">
                                <i class="zmdi zmdi-group-work"></i>
                            </div>
                        </div>
                    </a>
                    <a href="./index.html?p=pointage" class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--blue">
                            <h2 class="number">23</h2>
                            <span class="desc">projets</span>
                            <div class="icon">
                                <i class="zmdi zmdi-check"></i>
                            </div>
                        </div>
                    </a>
                    <a href="./index.html?p=fonction" class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--red">
                            <h2 class="number">700</h2>
                            <span class="desc">produits</span>
                            <div class="icon">
                                <i class="zmdi zmdi-settings"></i>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </section>
    </div>
</div>
<script src="script/statistique.js" type="text/javascript"></script>