<head>
    <meta charset="UTF-8" >
</head>
<script src="script/statistiques.js" type="text/javascript"></script>
<div class="container-fluid" style="margin-top: 5%;">
    <div class="">
        <p class="h2 text-center text-dark text-uppercase font-weight-bold">Statistiques </p>
        <hr class="line-seprate">
        <section class="statistic statistic2">
            <div class="container">
                <div class="row">
                    <a href="#" class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--green">
                            <span class="desc">Produits</span>
                            <h2 class="number" id="nbr-produits"></h2>
                            <div class="icon">
                                <i class="zmdi zmdi-accounts"></i>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="col-md-6 col-lg-3">

                        <div class="statistic__item statistic__item--orange">
                            <span class="desc">Clients</span>
                            <h2 class="number" id="nbr-clients"></h2>
                            <div class="icon">
                                <i class="zmdi zmdi-group-work"></i>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--blue">
                            <span class="desc">Fournisseurs</span>
                            <h2 class="number" id="nbr-fournisseur"></h2>
                            <div class="icon">
                                <i class="zmdi zmdi-check"></i>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--red">
                            <span class="desc">Achats</span>
                            <h2 class="number" id="nbr-achat"></h2>
                            <div class="icon">
                                <i class="zmdi zmdi-settings"></i>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </section>
    </div>
</div>
{% load static %}
<script src="{% static 'script/statistiques.js' %}"  type="text/javascript"></script>